<a href="https://colab.research.google.com/github/AcerPing/AceTibaMe/blob/master/classification_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls -al

total 20
drwxr-xr-x 1 root root 4096 Jul 16 06:07 .
drwxr-xr-x 1 root root 4096 Jul 16 05:55 ..
drwxr-xr-x 1 root root 4096 Jul 13 16:14 .config
-rw-r--r-- 1 root root 2777 Jul 16 06:07 iris.csv
drwxr-xr-x 1 root root 4096 Jul 10 16:29 sample_data

In [2]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
# iris["feature_names"]
# iris["data"]
df = pd.DataFrame(iris["data"],
                  columns = iris["feature_names"])
df["answer"] = iris["target"]
df.to_csv("iris.csv",encoding="utf-8",index=False)
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  answer
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [3]:
from sklearn.model_selection import train_test_split
#[90% data, 10% data, 90% target, 10% target]
x_train,x_test, y_train, y_test=train_test_split(iris["data"],
                                                   iris["target"],
                                                    test_size=0.1)