<a href="https://colab.research.google.com/github/AcerPing/AceTibaMe/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
files.upload() #upload kaggle.json
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

Saving kaggle.json to kaggle.json

Saving kaggle.json to kaggle (1).json

In [3]:
!kaggle competitions download -c titanic

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 6.34MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 29.1MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 53.4MB/s]

In [ ]:
'''
from urllib request import urlretrieve
url = 
urlretrieve(url)
'''

In [7]:
import pandas as pd
train_df = pd.read_csv("train.csv",encoding="utf-8")
test_df = pd.read_csv("test.csv",encoding="utf-8")
# train_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [9]:
datas = pd.concat([train_df,test_df])
datas = datas.drop(["PassengerId","Survived"],axis=1)
datas

     Pclass                                               Name  ... Cabin  Embarked
0         3                            Braund, Mr. Owen Harris  ...   NaN         S
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2         3                             Heikkinen, Miss. Laina  ...   NaN         S
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4         3                           Allen, Mr. William Henry  ...   NaN         S
..      ...                                                ...  ...   ...       ...
413       3                                 Spector, Mr. Woolf  ...   NaN         S
414       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
415       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
416       3                                Ware, Mr. Frederick  ...   NaN         S
417       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [13]:
# Step1. 補缺失值
s = datas.isna().sum()
# 篩選 series[[True...]]
s[s > 0]

Age          263
Fare           1
Cabin       1014
Embarked       2
dtype: int64