<a href="https://colab.research.google.com/github/AcerPing/AceTibaMe/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload() #upload kaggle.json
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

Saving kaggle.json to kaggle (1).json

In [ ]:
!kaggle competitions download -c titanic

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
401 - Unauthorized

In [ ]:
'''
from urllib request import urlretrieve
url = 
urlretrieve(url)
'''

'\nfrom urllib request import urlretrieve\nurl = \nurlretrieve(url)\n'

In [ ]:
import pandas as pd
train_df = pd.read_csv("train.csv",encoding="utf-8")
test_df = pd.read_csv("test.csv",encoding="utf-8")
# train_df

In [ ]:
datas = pd.concat([train_df,test_df])
datas = datas.drop(["PassengerId","Survived"],axis=1)
datas

     Pclass                                               Name  ... Cabin  Embarked
0         3                            Braund, Mr. Owen Harris  ...   NaN         S
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2         3                             Heikkinen, Miss. Laina  ...   NaN         S
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4         3                           Allen, Mr. William Henry  ...   NaN         S
..      ...                                                ...  ...   ...       ...
413       3                                 Spector, Mr. Woolf  ...   NaN         S
414       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
415       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
416       3                                Ware, Mr. Frederick  ...   NaN         S
417       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [ ]:
# Step1. 補缺失值
s = datas.isna().sum()
# 篩選 series[[True...]]
s[s > 0]

Age          263
Fare           1
Cabin       1014
Embarked       2
dtype: int64

In [ ]:
most = datas["Embarked"].value_counts().idxmax()
datas["Embarked"] = datas["Embarked"].fillna(most)

In [ ]:
# 補數字類型[中位數]
med = datas.median().drop(["Pclass"])
d = datas.fillna(med)
d.isna().sum()

Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin       1014
Embarked       0
dtype: int64

In [ ]:
#先準備一下我要保留的list
def name(n):
  n = n.split(",")[-1].split(".")[0]
  return n.strip()
v = datas["Name"].apply(name).value_counts()
white = v.index[:4]
white

Index(['Mr', 'Miss', 'Mrs', 'Master'], dtype='object')

In [ ]:
def name(n):
  n = n.split(",")[-1].split(".")[0]
  n = n.strip()
  if n in white:
    return n
  else:
    return None
datas["Name"] = datas["Name"].apply(name)
datas

     Pclass    Name     Sex   Age  ...              Ticket      Fare Cabin  Embarked
0         3      Mr    male  22.0  ...           A/5 21171    7.2500   NaN         S
1         1     Mrs  female  38.0  ...            PC 17599   71.2833   C85         C
2         3    Miss  female  26.0  ...    STON/O2. 3101282    7.9250   NaN         S
3         1     Mrs  female  35.0  ...              113803   53.1000  C123         S
4         3      Mr    male  35.0  ...              373450    8.0500   NaN         S
..      ...     ...     ...   ...  ...                 ...       ...   ...       ...
413       3      Mr    male   NaN  ...           A.5. 3236    8.0500   NaN         S
414       1    None  female  39.0  ...            PC 17758  108.9000  C105         C
415       3      Mr    male  38.5  ...  SOTON/O.Q. 3101262    7.2500   NaN         S
416       3      Mr    male   NaN  ...              359309    8.0500   NaN         S
417       3  Master    male   NaN  ...                2668   22.3583   NaN         C

[1309 rows x 10 columns]

In [ ]:
v = datas["Ticket"].value_counts()
def ticket(t):
  global v
  return v[t]
datas["Ticket"] = datas["Ticket"].apply(ticket)

In [ ]:
datas = datas.drop(["Cabin"],axis=1)
# 如果你想要重置index
datas.reset_index(drop=True)
datas

     Pclass    Name     Sex   Age  SibSp  Parch  Ticket      Fare Embarked
0         3      Mr    male  22.0      1      0       1    7.2500        S
1         1     Mrs  female  38.0      1      0       2   71.2833        C
2         3    Miss  female  26.0      0      0       1    7.9250        S
3         1     Mrs  female  35.0      1      0       2   53.1000        S
4         3      Mr    male  35.0      0      0       1    8.0500        S
..      ...     ...     ...   ...    ...    ...     ...       ...      ...
413       3      Mr    male   NaN      0      0       1    8.0500        S
414       1    None  female  39.0      0      0       3  108.9000        C
415       3      Mr    male  38.5      0      0       1    7.2500        S
416       3      Mr    male   NaN      0      0       1    8.0500        S
417       3  Master    male   NaN      1      1       3   22.3583        C

[1309 rows x 9 columns]

In [ ]:
datas = pd.get_dummies(datas)

In [ ]:
#取列: iloc(看實際是第幾列),loc(看列標籤)
#[第一列,第二列...]
x_train = datas.iloc[:len(train_df)]
x_test = datas.iloc[len(train_df):]
y_train = train_df["Survived"]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64