<a href="https://colab.research.google.com/github/AcerPing/AceTibaMe/blob/master/transfer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import zipfile
f = zipfile.ZipFile("drive/My Drive/train.zip")
f.extractall("datas")

In [8]:
import glob
import pandas as pd

dogs = glob.glob("datas/train/dog.*")
cats = glob.glob("datas/train/cat.*")
df = pd.DataFrame({
    "path":dogs+cats,
    "ans":[0]*len(dogs)+[1]*len(cats)})
df

                           path  ans
0      datas/train/dog.5656.jpg    0
1      datas/train/dog.8713.jpg    0
2      datas/train/dog.6643.jpg    0
3      datas/train/dog.5301.jpg    0
4      datas/train/dog.2056.jpg    0
...                         ...  ...
24995  datas/train/cat.5152.jpg    1
24996  datas/train/cat.3089.jpg    1
24997  datas/train/cat.9365.jpg    1
24998  datas/train/cat.4735.jpg    1
24999  datas/train/cat.7388.jpg    1

[25000 rows x 2 columns]

In [17]:
from tensorflow.keras.applications.vgg16 import VGG16
from tensorflow.keras.layers import Dense,Flatten,Dropout
from tensorflow.keras.models import Sequential
cnn = VGG16(include_top=False,input_shape=(224,224,3))
for layer in cnn.layers:
  layer.trainable = False
mlp = [Flatten(),
    Dense(256,activation="relu"),
    Dropout(0.25),
    Dense(2,activation="softmax")]
model = Sequential(cnn.layers + mlp)
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
block1_conv1 (Conv2D)        (None, 224, 224, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 224, 224, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 112, 112, 64)      0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 112, 112, 128)     73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 112, 112, 128)     147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 56, 56, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 56, 56, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 28, 28, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 28, 28, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 14, 14, 512)       0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 7, 7, 512)         0
_________________________________________________________________
flatten_1 (Flatten)          (None, 25088)             0
_________________________________________________________________
dense_2 (Dense)              (None, 256)               6422784
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 514
=================================================================
Total params: 21,137,986
Trainable params: 6,423,298
Non-trainable params: 14,714,688
_________________________________________________________________

In [13]:
cnn.layers

[<tensorflow.python.keras.engine.input_layer.InputLayer at 0x7f327eab8240>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327eab84e0>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327eab8710>,
 <tensorflow.python.keras.layers.pooling.MaxPooling2D at 0x7f327eab8b38>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e61f5f8>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e6284a8>,
 <tensorflow.python.keras.layers.pooling.MaxPooling2D at 0x7f327e6288d0>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e62e0f0>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e62ef28>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e6353c8>,
 <tensorflow.python.keras.layers.pooling.MaxPooling2D at 0x7f327e635c18>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e643748>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e6495c0>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e6499e8>,
 <tensorflow.python.keras.layers.pooling.MaxPooling2D at 0x7f327e6525c0>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e652da0>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e65bc18>,
 <tensorflow.python.keras.layers.convolutional.Conv2D at 0x7f327e65bb70>,
 <tensorflow.python.keras.layers.pooling.MaxPooling2D at 0x7f327e5e2908>]